// __ signifies a parent child such as footer__credits,
//    which signifies that this is "credits" contained within "footer".

// -- signifies a modifier. So footer--large would be used to say this is a "large" "footer",
//    which could be a variation on footer used for something like a home page.


html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background: $dark-blue;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}